{% extends "pageBase.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="title">Palinsesto Programmi</h1>

<div class="program-list">
    {% for program in programs %}
        <div class="program-item">
            <h2>{{ program.title }}</h2>
            <p><strong>Descrizione:</strong> {{ program.description }}</p>
            <p><strong>Canale:</strong> {{ program.channel }}</p>
            <p><strong>Data e ora:</strong> {{ program.date }}</p>
            <p><strong>Durata:</strong> {{ program.duration }} minuti</p>
            {% if program.image %}
                <img src="{{ program.image[0]['url'] }}" alt="{{ program.title }} image" style="max-width: 200px;">
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
