{% extends "pageBase.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="title mb-5 mx-3 mt-1 text-center">Le tue preferenze</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="accordion" id="programmi">
                {% for preference, programs in preferences_program.items() %}
                    <div class="accordion-item ">
                        <h2 class="accordion-header">
                            <button class="accordion-button fw-bold text-dark" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ loop.index }}" aria-expanded="false"
                                    aria-controls="collapse{{ loop.index }}">
                                {{ preference }}
                            </button>
                        </h2>
                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse"
                             data-bs-parent="#programmi">
                            <div class="accordion-body">
                                <div class="row">
                                    {% for program in programs %}
                                        {% set sanitized_title = program.title | replace(' ', '-') | replace('\'', '') %}
                                        <div class="col-md-6 col-lg-4 mb-4">
                                            <div class="card shadow-sm p-3 h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <h3 class="card-title text-primary">{{ program.title }}</h3>
                                                    <h5 class="subtitle text-muted">{{ program.subtitle }}</h5>

                                                    <div class="accordion mb-3" id="accordionExample{{ sanitized_title }}">
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="heading{{ sanitized_title }}">
                                                                <button class="accordion-button collapsed" type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapse{{ sanitized_title }}"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapse{{ sanitized_title }}">
                                                                    Descrizione
                                                                </button>
                                                            </h2>
                                                            <div id="collapse{{ sanitized_title }}"
                                                                 class="accordion-collapse collapse"
                                                                 aria-labelledby="heading{{ sanitized_title }}"
                                                                 data-bs-parent="#accordionExample{{ sanitized_title }}">
                                                                <div class="accordion-body">
                                                                    <p>{{ program.description }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p><strong>Canale:</strong> {{ program.channel }}</p>
                                                    <p><strong>Data e ora:</strong> {{ program.date }}</p>
                                                    <p><strong>Durata:</strong> {{ program.duration }} minuti</p>

                                                    <div class="text-center mt-3">
                                                        {% if program.image[0]['url'] %}
                                                            <img src="{{ program.image[0]['url'] }}"
                                                                 alt="{{ program.title }} image"
                                                                 class="img-fluid rounded shadow-sm">
                                                        {% else %}
                                                            <img src="{{ url_for('static', filename='media/Image-not-found.png') }}"
                                                                 alt="Image not found" class="img-fluid rounded shadow-sm">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
